<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.larios">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@drawable/larios_rescalado"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Larios">
        <activity
            android:name=".admin.VistaTicketAdmin"
            android:exported="false" />
        <activity
            android:name=".camarero.VistaTicket"
            android:exported="false" />
        <activity
            android:name=".camarero.PedidosMesa"
            android:exported="false" />
        <activity
            android:name=".camarero.EdicionPlatos"
            android:exported="false" />
        <activity
            android:name=".camarero.Buscador"
            android:exported="false" />
        <activity
            android:name=".admin.Mensajes"
            android:exported="false" />
        <activity
            android:name=".camarero.InterfazMesa"
            android:exported="false" />
        <activity
            android:name=".admin.MainTickets"
            android:exported="false" />
        <activity
            android:name=".admin.AddCamarero"
            android:exported="false" />
        <activity
            android:name=".RestContra"
            android:exported="false" />
        <activity
            android:name=".admin.MesasAdmin"
            android:exported="false" />
        <activity
            android:name=".camarero.Mesas"
            android:exported="false" />
        <activity
            android:name=".EnterLayout"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>